@charset "utf-8";

@font-face {
  font-family: "SpaceAge";
  src: url(Fonts/space\ age.ttf );
}

@font-face {
  font-family: "SpaceSolid";
  src: url(Fonts/KGBlankSpaceSolid.ttf);
}

@font-face {
  font-family: "tiltNeon";
  src: url(Fonts/TiltNeon-Regular-VariableFont_XROT\,YROT.ttf);
}

@font-face {
  font-family: "Patrick";
  src: url(Fonts/PatrickHand-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: #000;
  overflow-x: hidden;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh);
  background-color: #000;
}

.homeContent {
  display: block;
  text-align: center;
}

.homeItem {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  height: 50px;
}

.homeItem #title {
  color: #000;
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: #fff;
  font-family: "SpaceAge";
  font-size: 3.5rem;
  letter-spacing: 2px;
}

.homeItem .paragraphy {
  color: #fff;
  font-family: "SpaceSolid";
  font-size: 1rem;
  letter-spacing: 2px;
}

.homeItem i {
  color: #fff;
  margin: 0 10px;
  font-size: 1.2rem;
  display: inline-block;
}

#anime01 {
  animation: float 1.5s ease-in infinite;
}

#anime02 {
  animation: float02 2s ease-in infinite;
}

#anime03 {
  animation: float03 2.5s ease-in infinite;
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }
}

@keyframes float02 {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }
}

@keyframes float03 {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }
}

/*Seção dos projetos*/
.apresentation {
  width: 90vw;
  margin: auto;
  background-color: #000;
}

.apresentationContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.apresentationContainer .paragraphy {
  font-family: "TiltNeon";
  font-size: 3rem;
}

.apresentationContainer #paragraphy {
  color: #fff;
  font-family: "TiltNeon";
  font-size: 1rem;
  letter-spacing: 2px;
  margin: 10px 0;
}

/*Apresentação dos projetos*/
.gridContainer {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}

.gridItem {
  display: block;
  text-align: center;
}

.gridItem img {
  margin: 20px 0;
  width: 70%;
}

.gridContainer .gridItem h2 {
  font-family: "TiltNeon";
  font-size: 1rem;
}

/*seção de competencias*/
#competence {
  padding: 5px;
  margin-top: 15vh;
}

.compTitle {
  text-align: center;
  color: #FFF;
  padding: 10px;
}

.compTitle h2 {
  font-family: "SpaceAge";
  font-size: 3rem;
}

#competenceContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  padding: 10px;
}

.skills {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  padding: 10px;
  box-shadow: 0px 1px 2px #fff;
  background-color: #1a1919;
  border-radius: 10px;
}

.skills i {
  padding: 10px;
  font-size: 2.2rem;
}

.skills h3 {
  padding: 10px;
  font-family: "SpaceAge";
  letter-spacing: 3px;
}

.skills p {
  padding: 10px;
  text-align: justify;
  font-family: "Patrick";
  font-size: 20px;
}

/*Seção do footer*/
footer {
  padding: 10px;
  margin-top: 15vh;
  margin-bottom: 2%;
}

#footerContainer {
  width: 80vw;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#footerContainer img {
  border-top-left-radius: 20%;
  border-bottom-right-radius: 30%;
  padding: 10px;
  box-shadow: 2px 3px 5px #fff;
}

#footerItems {
  /*Div de conteudo footer*/
}

#footerItems h2 {
  font-family: "SpaceSolid";
  padding: 10px;
  color: #fff;
}

#footerItems .list {
  list-style-type: none;
  padding: 10px;
}

#footerItems .list li {
  margin: 10px 0;
  font-family: "TiltNeon";
}

#footerItems .list li a {
  color: #fff;
  text-decoration: none;
}

#footerItems .list li a:hover {
  color: #fff;
  text-decoration: underline;
}

#footerItems button {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: none;
}

#footerItems button a {
  text-decoration: none;
  color: #000;
}